# see: https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  # GitHub Actions (/.github/workflows/*.yml)
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '18:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
    groups:
      actions-artifact:
        patterns:
          - 'actions/download-artifact'
          - 'actions/upload-artifact'
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: ci(gh-actions)

  # npm/yarn (/**/package.json)
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: '18:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      lint-tools:
        dependency-type: development
        exclude-patterns: # Exclude build tools
          - '@tsconfig/*'
          - '@types/node'
          - '@vercel/*'
          - typescript
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - version-update:semver-major
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: chore
      prefix-development: chore
      include: scope
    open-pull-requests-limit: 10

  # Development Containers (/.devcontainer/devcontainer.json)
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: daily
      time: '18:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: ci(devcontainer)
